/* Global styles */

body {
    margin: 0;
    /* this font size will effect all elements unless different sizes specified in classes */
    font-size: 12px;
}

/* Header layout */

.header {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    column-gap: 10px;
    display: grid;
    font-size 12px;
    grid-template-columns: minmax(40px) 0fr 1fr;
    line-break: strict;
    line-height: 20px;
    padding-inline-end: 24px;
    padding-inline-start: 24px;
    padding-top: 14px;
    row-gap: 10px;
    text-size-adjust: 100%;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    border-top-color: #717171;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px 0px;
    border-top-width: 0px;
}


.header_content {
   align-items: center;
   border: solid;
   border-color: rgba(0, 0, 0, 0.08);
   border-radius: 1000px;
   border-style: solid;
   border-width: 1px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px 0px;
   box-sizing: border-box;
   color: rgb(34, 34, 34);
   display: grid;
   grid-template-columns: minmax(40px) 0fr 1fr;
   font-size: 14px;
   font-weight: 400;
   height: 54px;
   margin: 0px;
   max-width: 100%;
   outline-color: rgb(34, 34, 34);
   outline-width: 0px;
   outline-style: none;
   outline-width: 0px;
   padding-block-end: 0px;
   padding-block-start: 0px;
   padding-bottom: 0px;
   padding-inline-end: 4px;
   padding-inline-start: 4px;
   padding-left: 4px;
   padding-right: 4px;
   padding-top: 0px;
   position: relative;
   text-align: start;
 

}

.button_anywhere {
    align-self: center;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    justify-items: start;
    font-weight: 600;
    font-size: 14px;
    padding-left: 55px;
    grid-row-start: 2;
    grid-column-start: 1;
    width: 200px;
    text-align: start;
}


.header_input {
    align-self: start;
    box-sizing: border-box;
    color: #717171;
    column-gap: 5px;
    display: flex;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    justify-self: start;
    width: 200px auto;
    text-align: start;
    padding-left: 50px;
    line-height: 16px;
    padding-inline-end: 24px;
    padding-bottom: 0 px;
    row-gap: 5px;
    text-align: start;
    text-indent: 0px;
    width: 373px;
    grid-row-start: 3;
    grid-column-start: 1;


}

.button_anyweek {
    color: #717171;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    font-size: 12px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    min-width: 50px;

   
}


.button_add_guests {
    color: #717171;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    font-size: 12px;

    }

    .search {
        align-self: center;
        box-sizing: border-box;
        color: rgb(34, 34, 34);
        display: grid;
        font-size: 14px;
        grid-row-start: 2;
        grid-column-start: 1;
        justify-items: center;
        letter-spacing: normal;
        line-break: strict;
        line-height: 20.02px;
        text-align: start;
        text-indent: 0px;
        padding-left: 3px;
        padding-top: 1px;
        width: 52px;
     }

.slider {
align-items: center;
appearance: button;
display: inline;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);

}


.navbar {
    box-sizing: border-box;
    column-gap 16px;
    contain: none;
    contain-intrinsic-height: none;
    contain-intrinsic-width: none;
    content-visibility: visible;
    display: grid;
    gap: 24px;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-template-areas: none;
    grid-template-rows: 74px;
    height: 74px;
    justify-content: flex-start;
    line-break: strict;
    line-height: 20.02px:
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    padding-inline-end: 24px;
    padding-inline-start: 24px;
    row-gap: 16px;
    scroll-padding-inline-end: 24px;
    scroll-padding-inline-start: 24px;
    scroll-snap-type: none;
    text-size-adjust: 100%;
    touch-action: manipulation;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    

    


   
}



.navbar_pools{
    align-items: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    column-gap: 4px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    height: 44px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    min-width: auto;
    row-gap: 4px;
    text-align: center;
    text-size-adjust: 100%;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 65px;
}

.pools{
    align-items: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    height: 52px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    margin-bottom: 10px;
    margin-top: 12px;
    padding-bottom: 4px;
    padding-top: 4px;
    position: static;
    text-align: center;
    text-wrap: nowrap;
    white-space-collapse: collapse;
    width: 65px;
}

.pool_icon{
    aspect-ratio: auto;
    box-sizing: border-box;
    display: block;
    color: rgba(0, 0, 0, 0);
    font-weight: 600px;
    height: 24px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    max-width: 100%;
    height: 24px;
    opacity: 1;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    text-align: center;
    vertical-align: middle;
    width: 24px;
}

.amazing_pools {
    box-sizing: border-box;
    display: inline-block;
    color: #717171;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    text-align: center;
    text-size-adjust: 100%;
    text-wrap: nowrap;
   
}
.navbar_grid{
    align-items: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    column-gap: 4px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    height: 44px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    min-width: auto;
    row-gap: 4px;
    text-align: center;
    text-size-adjust: 100%;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 65px;
}

.grid{
    align-items: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    height: 52px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    margin-bottom: 10px;
    margin-top: 12px;
    padding-bottom: 4px;
    padding-top: 4px;
    position: static;
    text-align: center;
    text-wrap: nowrap;
    white-space-collapse: collapse;
    width: 65px;
}

.grid_icon{
    aspect-ratio: auto;
    box-sizing: border-box;
    display: block;
    color: rgba(0, 0, 0, 0);
    font-weight: 600px;
    height: 24px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    max-width: 100%;
    height: 24px;
    opacity: 1;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    text-align: center;
    vertical-align: middle;
    width: 24px;
}

.off-the-grid {
    box-sizing: border-box;
    display: inline-block;
    color: #717171;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    text-align: center;
    text-size-adjust: 100%;
    text-wrap: nowrap;
   
}






.navbar_lakefront{
    align-items: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    column-gap: 4px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    height: 44px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    min-width: auto;
    row-gap: 4px;
    text-align: center;
    text-size-adjust: 100%;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 65px;
}

.lakefront{
    align-items: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    height: 52px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    margin-bottom: 10px;
    margin-top: 12px;
    padding-bottom: 4px;
    padding-top: 4px;
    position: static;
    text-align: center;
    text-wrap: nowrap;
    white-space-collapse: collapse;
    width: 65px;
}


.lake_icon{
    aspect-ratio: auto;
    box-sizing: border-box;
    display: block;
    color: rgba(0, 0, 0, 0);
    font-weight: 600px;
    height: 24px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    max-width: 100%;
    height: 24px;
    opacity: 1;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    text-align: center;
    vertical-align: middle;
    width: 24px;
}

.lake {
    box-sizing: border-box;
    display: inline-block;
    color: #717171;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    text-align: center;
    text-size-adjust: 100%;
    text-wrap: nowrap;
   
}



.navbar_world{
    align-items: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    column-gap: 4px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    height: 44px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    min-width: auto;
    row-gap: 4px;
    text-align: center;
    text-size-adjust: 100%;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 65px;
}

.world{
    align-items: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    height: 52px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    margin-bottom: 10px;
    margin-top: 12px;
    padding-bottom: 4px;
    padding-top: 4px;
    position: static;
    text-align: center;
    text-wrap: nowrap;
    white-space-collapse: collapse;
    width: 65px;
}

.world_icon{
    aspect-ratio: auto;
    box-sizing: border-box;
    display: block;
    color: rgba(0, 0, 0, 0);
    font-weight: 600px;
    height: 24px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    max-width: 100%;
    height: 24px;
    opacity: 1;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    text-align: center;
    vertical-align: middle;
    width: 24px;
}

.top_of {
    box-sizing: border-box;
    display: inline-block;
    color: #717171;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    text-align: center;
    text-size-adjust: 100%;
    text-wrap: nowrap;
   
}



.navbar_castles{
    align-items: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    column-gap: 4px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    height: 44px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    min-width: auto;
    row-gap: 4px;
    text-align: center;
    text-size-adjust: 100%;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 65px;
}

.castles{
    align-items: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    height: 52px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    margin-bottom: 10px;
    margin-top: 12px;
    padding-bottom: 4px;
    padding-top: 4px;
    position: static;
    text-align: center;
    text-wrap: nowrap;
    white-space-collapse: collapse;
    width: 65px;
}

.castle_icon{
    aspect-ratio: auto;
    box-sizing: border-box;
    display: block;
    color: rgba(0, 0, 0, 0);
    font-weight: 600px;
    height: 24px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    max-width: 100%;
    height: 24px;
    opacity: 1;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    text-align: center;
    vertical-align: middle;
    width: 24px;
}

.castle {
    box-sizing: border-box;
    display: inline-block;
    color: #717171;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    text-align: center;
    text-size-adjust: 100%;
    text-wrap: nowrap;
   
}


.navbar_beaches{
    align-items: center;
    box-sizing: border-box;
    
    column-gap: 4px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    height: 44px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    min-width: auto;
    row-gap: 4px;
    text-align: center;
    text-size-adjust: 100%;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 65px;

}

.beaches{
    align-items: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    height: 52px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    margin-bottom: 10px;
    margin-top: 12px;
    padding-bottom: 4px;
    padding-top: 4px;
    position: static;
    text-align: center;
    text-wrap: nowrap;
    white-space-collapse: collapse;
    width: 65px;
}

.beach_icon{
    aspect-ratio: auto;
    box-sizing: border-box;
    display: block;
    color: rgba(0, 0, 0, 0);
    font-weight: 600px;
    height: 24px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    max-width: 100%;
    height: 24px;
    opacity: 1;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    text-align: center;
    vertical-align: middle;
    width: 24px;
}

.beach {
    box-sizing: border-box;
    display: inline-block;
    color: #717171;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    text-align: center;
    text-size-adjust: 100%;
    text-wrap: nowrap;
   
}


