/* Global styles */

body {
    /* this font size will effect all elements unless different sizes specified in classes */
    font-family: Airbnb2;
    font-size: 12px;
    margin: 0 auto;
}

@font-face{
    font-family: Airbnb1;
    src:url(https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2)
}

@font-face{
    font-family: Airbnb2;
    src:url(https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2)
}

/* Header layout */

.header {
    background-color: rgb(255, 255, 255);
    border-top-color: #717171;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px 0px;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    column-gap: 10px;
    display: block;
    line-break: strict;
    line-height: 1.3;
    padding-top: 14px;
    position: sticky;
    row-gap: 10px;
    text-size-adjust: 100%;
    top: 0;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    z-index: 1; 
}

.header_container {
    display: grid;
    grid-template-columns: minmax(0,1fr) 40px; 
    column-gap: 12px;
    padding-inline-end: 24px;
    padding-inline-start: 24px;
}


.header_content {
   align-items: center;
   border: solid;
   border-color: rgba(0, 0, 0, 0.08);
   border-radius: 1000px;
   border-style: solid;
   border-width: 1px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px 0px;
   box-sizing: border-box;
   color: rgb(34, 34, 34);
   display: grid;
   grid-template-columns: 48px minmax(0,1fr); 
   font-size: 14px;
   font-weight: 400;
   height: 56px;
   margin: 0px;
   max-width: 100%;
   outline-color: rgb(34, 34, 34);
   outline-width: 0px;
   outline-style: none;
   outline-width: 0px;
   padding-block-end: 0px;
   padding-block-start: 0px;
   padding-bottom: 0px;
   padding-inline-end: 4px;
   padding-inline-start: 4px;
   padding-left: 4px;
   padding-right: 4px;
   padding-top: 0px;
   position: relative;
   text-align: start;
   max-width: 2500px;
}



.button_anywhere {
    align-self: start;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: grid;
    font-family: Airbnb2;
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    justify-items: start;
}


.header_input {
    align-self: start;
    box-sizing: border-box;
    color: #717171;
    display: flex;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    justify-self: start;
    line-height: 1.3;
    text-align: start;
    text-indent: 0px;
    width: auto;
}

.button_anyweek {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    color: #717171;
    font-family: Airbnb2;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: normal;
    line-break: strict;
    line-height: 1.3;
    min-width: 50px;
}


.button_add_guests {
    color: #717171;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    font-family: Airbnb2;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: normal;
    line-break: strict;
    line-height: 1.3;
    min-width: 50px;
}
    
    
.search {
    align-self: center;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: grid;
    font-size: 14px;
    grid-row: 2 / span 1;
    justify-content: center;
    letter-spacing: normal;
    line-break: strict;
    line-height: 1.4;
    text-align: start;      
    text-indent: 0px;    
}

.search_function{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 52px;
}

.header_slider{
   align-self: center;
   display: flex;
   justify-content: center;
   position: relative;
}

.style_slider {
    align-items: center;
    appearance: button;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(176,176,176);
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    
    
}


/* Header navbar */

.navbar {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    column-gap: 16px;
    contain: none;
    display: grid;
    gap: 24px;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-template-areas: none;
    grid-template-rows: 74px;
    height: 74px;
    justify-content: flex-start;
    line-break: strict;
    overflow-x: auto;
    overflow-y: hidden;
    padding-inline-end: 24px;
    padding-inline-start: 24px;
    position: relative;
    row-gap: 16px;
    scroll-padding-inline-end: 24px;
    scroll-padding-inline-start: 24px;
    scroll-snap-type: none;
    text-size-adjust: 100%;
    touch-action: manipulation;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased; 
}



.navbar_item{
    align-items: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    column-gap: 4px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    height: 44px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 1.3;
    min-width: auto;
    row-gap: 4px;
    text-align: center;
    text-size-adjust: 100%;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 65px;
}

.picture{
    align-items: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    height: 52px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 1.3;
    margin-bottom: 10px;
    margin-top: 12px;
    padding-bottom: 4px;
    padding-top: 4px;
    position: static;
    text-align: center;
    text-wrap: nowrap;
    white-space-collapse: collapse;
    width: 65px;
}

.pic_icon{
    aspect-ratio: auto;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    display: block;
    font-weight: 600;
    height: 24px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 1.3;
    max-width: 100%;
    opacity: 1;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    text-align: center;
    width: 24px;
}

.description {
    box-sizing: border-box;
    color: #717171;
    display: inline-block;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: normal;
    line-break: strict;
    line-height: 1.3;
    padding-top:5px;
    text-align: center;
    text-size-adjust: 100%;
    text-wrap: nowrap;
    font-family: Airbnb2;
}

/* Hotel listings */

.hotel_listing {
    align-items: stretch;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    font-family: Airbnb2;
    font-size: 14px;
    isolation: isolate;
    margin-bottom: 24px;
    margin-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    text-size-adjust: 100%;
}



    
.hotel_img {
    background-color: rgb(221, 221, 221);
    border-radius: 12px;
    box-sizing: border-box;
    color:rgb(34, 34, 34);
    content-visibility: visible;
    contain-intrinsic-height: none;
    display: block;
    height: 85vw;
    line-break: strict;
    line-height: 1.4;
    margin-bottom: 0px;
    object-fit: cover;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    position: relative;
    width: auto;   
}

.responsive {
  width: 100%;
  height: 100%;
}

.heart_icon {
    display: block;
    color:rgb(34, 34, 34);
    position: relative;
}

.heart {
    position: absolute;
    top: 5%;
    right: 5%;
    filter: drop-shadow(1px 0 0 rgb(255, 255, 255)) drop-shadow(-1px 0 0 rgb(255, 255, 255)) drop-shadow(0 1px 0 rgb(255, 255, 255)) drop-shadow(0 -1px 0 rgb(255, 255, 255));
}

.hotel_info {
    display: grid;
    font-family: Airbnb2;
    grid-template-columns: 8fr 1fr;
    margin-bottom: none;
    text-overflow: ellipsis;
    text-size-adjust: 100%;
}

.hotel_location {
    display: grid;
    font-family:Airbnb2;
    font-size: 15px;
    margin-top: 13px;
}

.hotel_description {
    color: #717171;
    display: grid;
    font-family: Airbnb2;
    font-size: 15px;
    margin: 0px;
    margin-top: 6px;
}

.hotel_date {
    color: #717171;
    display: grid;
    font-family: Airbnb2;
    font-size: 15px;
    margin: 0px;
    margin-top: 6px;  
}

.hotel_price {
    color: #222222;
    display: grid;
    font-family: Airbnb2;
    font-size: 15px;
    margin: 0px;
    margin-top: 8px;
    text-decoration: underline;
}
    
.hotel_star_icon {
    margin: 0px;
}

.hotel_rating {
   align-items: center;
   display: flex;
   font-size: 15px;
   justify-content: flex-end;
   padding-top: 12px;
}


.rating {
    padding-left: 5px;
}

/* More hotels section */

.more_hotels {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    margin-top: 56px;
    text-wrap: nowrap;
    white-space: nowrap;

}

.exploring {
    font-family: Airbnb2;
    font-size: 18px;
    margin-top: 56px;
    margin-bottom: 18px;
    text-align: center;
}

.show_button {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 32px;
}

.show {
    align-items: flex-start;
    appearance: button;
    background-color: rgb(34, 34, 34);
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    contain: paint;
    display: block;
    font-family: Airbnb2;
    font-size: 16px;
    outline-color: rgb(255, 255, 255);
    padding: 14px 24px;
}

/* Future getaways section */

.getaways {
    background-color: rgb(247, 247, 247);
    background-origin: padding-box;
    background-size: auto;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    font-family: Airbnb1;
    font-size: 14px;
    text-size-adjust: 100%;
    text-wrap: nowrap;
    white-space: nowrap;
}

.getaways_section {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    padding-block-end: 48px;
    padding-block-start: 24px;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    text-size-adjust: 100%;
}

.heading_get {
    box-sizing: border-box;
    font-size: 22px;
    font-family: Airbnb1;
    font-weight: 600;
    padding-top: 26px;
    margin-block-end: 8px;
    margin-block-start: 0px;
    text-wrap: nowrap;
    white-space: nowrap;
}

.button_place {
    align-items: flex-start;
    background: none;
    background-attachment: scroll;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border: none;
    color: rgb(113, 113, 113);
    flex-direction: column;
    font-size: 15px;
    font-family: Airbnb2;
    margin-bottom: 6px;
    margin-top: 6px;
    margin-right: 6px;
    padding: 10px; 
}

.border {
    background-color: rgb(221, 221, 221);
    border-bottom-color: rgb(34, 34, 34);
    border-image-width: 1;
    box-sizing: border-box;
    height: 1px;
}

.getaways_list {
    display: grid;
    font-size: 14px;
    grid-column-gap: 8px;
    grid-row-gap: 24px;
    grid-template-columns: 1fr 1fr;
    margin-top: 32px;
    
}

.list {
    display: block;
}
.place {
    color: #222222;
    font-family: Airbnb1;
}

.type {
    color: #717171;
    font-family: Airbnb2;
}

.arrow {
    display: inline-block;
}

.border {
    background-color: rgb(221, 221, 221);
    border-bottom-color: rgb(34, 34, 34);
    border-image-width: 1;
    box-sizing: border-box;
    height: 1px;
}

/* Footer information */

/* Support, hosting and Airbnb sections */


.support_info {
    background-color: rgb(247, 247, 247);
    box-sizing: border-box;
    display: block; 
    font-family: Airbnb2;
    font-size: 14px;
    padding-inline-end: 24px;
    padding-inline-start: 24px;
}

.info_list {
    box-sizing: border-box;
    color: #222222;
    display: block;
    padding-block-end: 8px;
    padding-block-start: 8px;
}
    
.info_descrip {
    display: grid;
    list-style-type: none;
    padding: 0;
    row-gap: 12px;
}

/* Footer info */

.footer_info {
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer_language {
    box-sizing: border-box;
    display: flex;
}

.globe_icon
 {
    box-sizing: border-box;
    display:block;
    text-align: start; 
}

.language {
    margin-left: 8px;
}

.currency {
    margin-left: 24px;
    margin-right: 4px;
}

.airbnb {
    font-family: Airbnb2;
    font-size: 14px;
}

/* Footer Navbar */


.navfoot {
    align-items: center;
    background-attachment: scroll;
    background-color: rgb(255, 255, 255);
    background-size: stretch;
    background-repeat: repeat;
    background-clip: border-box;
    border-top-color: rgb(235, 235, 235);
    border-top-style: solid;
    border-top-width: 1px;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    padding: 10px 0px;
    position: sticky; 
}
  
.navfoot_menu {
    align-items: flex-start;
    box-sizing: border-box;
    color: #717171;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    font-family:Airbnb2;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px
}

.nav_but {
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    display: flex;
    flex-basis: 0px;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    line-break: strict;
    line-height: 1.4;
    overflow-wrap: break-word;
    padding: 0px 2px;
    text-align: center;
}

.nav_click {
    align-items: center;
    color:#717171;
    display: flex;
    justify-content: center;
    text-align: center;
}

.explore {
    color: #717171;
    font-size: 10px; 
    margin: 0;
    text-align: center;
}