/* Global styles */

body {
    margin: 0;
    /* this font size will effect all elements unless different sizes specified in classes */
    font-size: 12px;
}

@font-face{
    font-family: Airbnb1;
    src:url(https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2)
}

@font-face{
    font-family: Airbnb2;
    src:url(https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2)
}

font-face{
    font-family: Airbnb3;
    src:url(https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2)
}

/* Header layout */

.header {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    column-gap: 10px;
    display: block;
    grid-template-columns: minmax(40px) 0fr 1fr;
    line-break: strict;
    line-height: 20px;
    padding-inline-end: 12px;
    padding-inline-start: 24px;
    padding-top: 14px;
    position: static;
    row-gap: 10px;
    text-size-adjust: 100%;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    border-top-color: #717171;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px 0px;
    border-top-width: 0px;
}


.header_content {
   align-items: center;
   border: solid;
   border-color: rgba(0, 0, 0, 0.08);
   border-radius: 1000px;
   border-style: solid;
   border-width: 1px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px 0px;
   box-sizing: border-box;
   color: rgb(34, 34, 34);
   display: grid;
   grid-template-columns: minmax(40px) 0fr 1fr;
   font-size: 14px;
   font-weight: 400;
   height: 54px;
   margin: 0px;
   max-width: 100%;
   outline-color: rgb(34, 34, 34);
   outline-width: 0px;
   outline-style: none;
   outline-width: 0px;
   padding-block-end: 0px;
   padding-block-start: 0px;
   padding-bottom: 0px;
   padding-inline-end: 4px;
   padding-inline-start: 4px;
   padding-left: 4px;
   padding-right: 4px;
   padding-top: 0px;
   position: relative;
   text-align: start;
 

}

.button_anywhere {
    align-self: center;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    justify-items: start;
    font-weight: 400;
    font-size: 14px;
    padding-left: 55px;
    grid-row-start: 2;
    grid-column-start: 1;
    width: 200px;
    text-align: start;
    font-family: Airbnb2;
    

}


.header_input {
    align-self: start;
    box-sizing: border-box;
    color: #717171;
    column-gap: 5px;
    display: flex;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    justify-self: start;
    width: 200px auto;
    text-align: start;
    padding-left: 50px;
    line-height: 16px;
    padding-inline-end: 24px;
    padding-bottom: 0 px;
    row-gap: 5px;
    text-align: start;
    text-indent: 0px;
    width: 373px;
    grid-row-start: 3;
    grid-column-start: 1;


}

.button_anyweek {
    color: #717171;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    min-width: 50px;
    font-family: Airbnb2;
    padding: 0px;
   
}


.button_add_guests {
    color: #717171;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    min-width: 50px;
    font-family: Airbnb2;
    padding: 0px;
    
    }

    .search {
        align-self: center;
        box-sizing: border-box;
        color: rgb(34, 34, 34);
        display: grid;
        font-size: 14px;
        grid-row-start: 2;
        grid-column-start: 1;
        justify-items: center;
        letter-spacing: normal;
        line-break: strict;
        line-height: 20.02px;
        text-align: start;
        text-indent: 0px;
        padding-left: 3px;
        padding-top: 1px;
        width: 52px;
     }

.slider {
align-items: center;
appearance: button;
display: inline;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);

}


.navbar {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    column-gap: 16px;
    contain: none;
    display: grid;
    gap: 24px;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-template-areas: none;
    grid-template-rows: 74px;
    height: 74px;
    justify-content: flex-start;
    line-break: strict;
    overflow-x: auto;
    padding-inline-end: 24px;
    padding-inline-start: 10px;
    position: relative;
    row-gap: 16px;
    scroll-padding-inline-end: 24px;
    scroll-padding-inline-start: 24px;
    scroll-snap-type: none;
    text-size-adjust: 100%;
    touch-action: manipulation;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    

    


   
}



.navbar_item{
    align-items: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    column-gap: 4px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    height: 44px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    min-width: auto;
    row-gap: 4px;
    text-align: center;
    text-size-adjust: 100%;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 65px;
}

.picture{
    align-items: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    height: 52px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    margin-bottom: 10px;
    margin-top: 12px;
    padding-bottom: 4px;
    padding-top: 4px;
    position: static;
    text-align: center;
    text-wrap: nowrap;
    white-space-collapse: collapse;
    width: 65px;
}

.pic_icon{
    aspect-ratio: auto;
    box-sizing: border-box;
    display: block;
    color: rgba(0, 0, 0, 0);
    font-weight: 600px;
    height: 24px;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    max-width: 100%;
    height: 24px;
    opacity: 1;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    text-align: center;
    width: 24px;
}

.description {
    box-sizing: border-box;
    display: inline-block;
    color: #717171;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: normal;
    line-break: strict;
    line-height: 16px;
    padding-top:5px;
    text-align: center;
    text-size-adjust: 100%;
    text-wrap: nowrap;
    font-family: Airbnb2;
}


.section{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    contain: content;
    display: block;
    isolation: isolate;
    line-break: strict;
    line-height: 20.02px;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}



.hotel_listing {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    font-family: Airbnb1;
    font-size: 14px;
    isolation: isolate;
    line-break: strict;
    line-height: 20.02px;
    margin-bottom: 24px;
    margin-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    text-size-adjust: 100%;
    

}



    
.hotel_img {
    background-color: rgb(221, 221, 221);
    border-radius: 12px;
    box-sizing: border-box;
    color:rgb(34, 34, 34);
    content-visibility: visible;
    contain-intrinsic-height: none;
    object-fit: cover;
    overflow-clip-margin: content-box;
    margin-bottom: 0px;
    display: block;
    line-break: strict;
    line-height: 20px;
    overflow-x: clip;
    overflow-y: clip;
    position: relative;
    height: 327px;
    width: auto;
    
}

.responsive {
  width: 100%;
  height: 100%;
}

.heart_icon {
    display: block;
    color:rgb(34, 34, 34);
    position: relative;


}

.heart {
    position: absolute;
    top: 5%;
    right: 5%;
    filter: drop-shadow(1px 0 0 rgb(255, 255, 255)) drop-shadow(-1px 0 0 rgb(255, 255, 255)) drop-shadow(0 1px 0 rgb(255, 255, 255)) drop-shadow(0 -1px 0 rgb(255, 255, 255));
    
}



.hotel_info {
    display: grid;
    grid-template-columns: 8fr 1fr;
    margin-bottom: none;
    font-family: Airbnb2;
    text-overflow: ellipsis;
    line-height: 19px;
    line-break: strict;
    letter-spacing: normal;
    text-size-adjust: 100%;
    
}

.hotel_location {
    display: grid;
    margin-top: 13px;
    font-size: 15px;
}

.hotel_description {
    display: grid;
    margin: 0px;
    font-family: Airbnb2;
    color: #717171;
    font-size: 15px;
    margin-top: 6px;
}

.hotel_date {
    display: grid;
    margin: 0px;
    font-family: Airbnb2;
    color: #717171;
    font-size: 15px;
    margin-top: 6px;
}

.hotel_price {
    display: grid;
    margin: 0px;
    font-family: Airbnb2;
    color: #222222;
    font-size: 15px;
    text-decoration: underline;
    margin-top: 8px;
}
    
.hotel_star_icon {
    margin: 0px;

}

.hotel_rating {
   align-items: center;
   display: flex;
   padding-top: 12px;
   font-size: 15px;
   
}


.rating {
    padding-left: 5px;
}

.sid



